@model Login_Page.Models.StudentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Student Logged In</h2>
<h3>Username: @ViewBag.Username</h3>
<h3>Role: @(ViewData["Role"] as string)</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.Name, "Name", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "name@example.com", type = "text" })
            </div>
        </div>

        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.Address, "Address", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter a Address", type = "text" })
            </div>
        </div>

        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.Country, "Country", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.Country, Model.CountryList,
                    "-- Select Country --",
                    new { @class = "form-select" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.State, "State", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.State, Model.StateList,
                    "-- Select State --",
                    new { @class = "form-select" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.City, "City", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.City, Model.CityList,
                    "-- Select City --",
                    new { @class = "form-select" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.PinCode, "PinCode", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control", placeholder = "Enter a Pincode", type = "text" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.MobileNo, "Mobile No", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = "Enter a Number", type = "text" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.Email, "Email", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "abc@gmail.com", type = "text" })
            </div>
        </div>
        <div class="row align-items-center mb-3">
            @Html.LabelFor(m => m.Photo, "Upload Photo", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Photo, new { @class = "form-control", placeholder = "Choose Photo", type = "file" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary mb-3" />
            </div>
        </div>

    </div>
}


